kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: public.ecr.aws/a6v5q4b9/backend
          ports:
            - containerPort: 5001
          env:
          - name: MONGODB_URI
            value: "mongodb://root:admin@mongodb:27017/chatApp?authSource=admin"
          - name: PORT
            value: "5001"
          - name: NODE_ENV
            value: "production"
          - name: JWT_SECRET
            valueFrom:
             secretKeyRef:
              name: backend-secrets
              key: jwt-secret

